.outer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1028px;
}

.inner {
  flex: 1 0 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
}
