.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.label {
  color: var(--muted);
  font-weight: 700;
  width: 100%;
}

.input_container {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 40rem;
  border: 1px solid var(--light-2);
  background: transparent;
  cursor: text;
  color: var(--dark);

  &:has(.input:focus) {
    box-shadow: 0 0 0 2px var(--secondary-light);
  }
}

.input {
  font: inherit;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  color: var(--dark);
  font-weight: 400;
}

.paste_button {
  composes: button from "../../styles/button.module.css";
  background: var(--primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: unset;
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.submit_button {
  composes: primary from "../../styles/button.module.css";
  border: none;
  outline: none;
  cursor: pointer;
  font: unset;
  font-weight: bold;
  font-size: 0.875rem;
  transition: 300ms;

  &:hover {
    box-shadow: 1px 1px 20px var(--light-2);
  }
}

@media screen and (max-width: 576px) {
  .submit_button {
    width: 100%;
  }
}
