.background{
  z-index: -1;
  position: absolute;
  inset: 0;
  object-fit: cover;
  /*overflow: hidden;*/

  &::before {
    content: "";
    position: absolute;
    background: primary;
    background: linear-gradient(
      0deg,
      #fff 50%,
      rgba(255, 255, 255, 0.81) 100%
    ), url("../../assets/page_bg.jpg");
    background-size: cover;
    inset: 0;
  }
}
